<?xml version="1.0"?>
<launch>
  
  <include file="$(find panda_arm_moveit_config)/launch/bringup.launch"/>

  <!--
  <rosparam file="$(find rob9)/config/trajectory_params.yaml"/>

  <node name="tf2_service" pkg="rob9" type="tf2_service.py" required="true"/>
  <node name="moveit_service" pkg="rob9" type="moveit_service.py" required="true"/>

  <node name="frame_publisher" pkg="moveit_scripts" type="frame_publisher.py"/>

  <node name="location_service" pkg="location_service" type="scan_processing_server" output="screen" required="true"/>
  <node name="orientation_service" pkg="orientation_service" type="server.py" output="screen" required="true"/>
-->
  <node name="camera_robot" pkg="fh_sensors_camera" type="fh_sensors_camera_node" output="screen" required="false">
    <param name = "cam_base_name" value = "camera_robot" type ="string" />
  </node>

  <node name="camera_shelf" pkg="fh_sensors_camera" type="fh_sensors_camera_node" output="screen" required="false">
    <param name = "cam_base_name" value = "camera_shelf" type ="string" />
  </node>

  <!--
  <node name="lidar_front" pkg="urg_node" type="urg_node" output="screen" required="false">
    <remap from="/scan" to="/sensors/lidar/scan" />
  </node>
-->

</launch>
